---
layout: default
---
<section class="archive">
  <h2 class="section-label">Tag &middot; {{ page.tag }}</h2>

  {% assign tag_posts = site.tags[page.tag] %}
  {% assign prev_year = "" %}
  {% for post in tag_posts %}
    {% assign year = post.date | date: "%Y" %}
    {% if year != prev_year %}
      <h3 class="archive-year">{{ year }}</h3>
      {% assign prev_year = year %}
    {% endif %}
    <p class="archive-row">
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %-d" }}</time>
    </p>
  {% endfor %}
</section>
